@import 'tailwindcss';
@plugin '@tailwindcss/forms';
@plugin '@tailwindcss/typography';

@theme {
    --font-cantata: "Cantata One", serif;
    --font-roboto-serif: "Roboto Serif", serif;
}
main {
    min-height: 100vh;
}
